$primary:(
  "default":#4cc9f0,
  "100":#4895ef,
  "200":#4361ee,
  "300":#3f37c9,
  "400":#3a0ca3,
  "500":#480ca8,
  "600":#560bad,
  "700":#7209b7,
  "800":#b5179e,
  "900":#f72585,
  "theme":#FF7930,
);

$neutral:(
    "white":#fff,
    "black":#000,
    "light":#fff,
    "dark":#0E0F13,
    "dark-2":#1C1F25,
    "dark-3":#13161B,
    "dark-4":#0D0E12
);
$grey:(
    "100":#f8f9fa,
    "200":#e9ecef,
    "300":#dee2e6,
    "400":#ced4da,
    "500":#adb5bd,
    "600":#6c757d,
    "700":#616161,
    "800":#424242,
    "900":#212121,
);
$breakpoints:(
  "md":990px,
  "sm":600px,
  "xs":480px
);
$sizes:(
  "xs":0.4,
  "sm":0.8,
  "md":1.2,
  "l":1.6,
  "xl":2.0,
  "2xl":2.4,
  "3xl":2.8,
  "4xl":3.2,
  "5xl":3.6,
  "6xl":4.0,
)