<!DOCTYPE html>
<html>
<head>
<%- include("../partials/head.ejs") %>
<style>
     .login-container{
        max-width: 500px;
        margin:auto;
        margin-top: 10%;
     }
     .login-container form{
        padding: 1em;
     }
     .field label,
     .field input{
        display: block;
     }
     .field input{
        margin-top: 2px;
        width: 100%;
        border: none;
     }
     form button{
        width: 100%;
        padding: 0.3em;
        margin-top: 0.5em;
        border: none;

     }
</style>
</head>
<body>
    <main>
        <section class="el-container">
            <div class="login-container vastmint-white">
                <header class="vastmint-light-200 vastmint-text-dark-2">
                    <p style="font-size:22px;font-weight: 500;margin-bottom:0.5em;padding:0.5em">Artisfy Administration</p>
                </header>
                <form action="" class=" " method="post">
                    <div class="field">
                      <label for="">Admin Key</label>
                      <input style="padding: 8px 16px;margin-block:8px;width:92%" name="admin_key" placeholder="Enter Access Key" class="vastmint-light-200" type="text">
                    </div>
                    <button class="vastmint-dark-2 vastmint-text-white" style="padding-block:8px;">Login</button>
                  </form>
            </div>
        </section>
    </main>
    
</body>
</html>