<div class="whatsapp-container">
  <button id="whatsapp-btn">
    <i class="bi bi-whatsapp"></i>
  </button>
</div>

<script>
    const whatsappChatBtn = document.querySelector('#whatsapp-btn')
    const openWhatsappChat=()=>{
      window.location.assign('https://wa.me/message/CCPBSK2H3I2TK1')
    }
    whatsappChatBtn.addEventListener('click',openWhatsappChat)
</script>