<div class="whatsapp-container">
  <button id="whatsapp-btn" style="cursor: pointer;">
    <i class="bi bi-whatsapp" style="font-size: 26px;"></i>
  </button>
</div>

<script>
    const whatsappChatBtn = document.querySelector('#whatsapp-btn')
    const openWhatsappChat=()=>{
      window.location.assign('https://wa.me/message/SY5VX7LVB2WOH1')
    }
    whatsappChatBtn.addEventListener('click',openWhatsappChat)
</script>