<section class="vastmint-min-h-50 el-container vastmint-create-nft" id="how-it-works" style="text-align: center;">
  <style>
    .step-container{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
    }
    .step-container i{
      font-size: 60px;
    }
    .get-started-btn{
      padding: 0.75em 1.5em;
      border-radius: 30px;
      border: none;
    }
  </style>
  <br>
  <h4 class="heading">How to Sell NFTs</h4><br><br>
  <div class="vastmint-grid steps all-step">
    <div class="grid-col-4 grid-col-md-12 step vastmint-min-vh-30 ">
      <div class="step-container vastmint-white">
        <i class="bi bi-person-add"></i>
      </div>
      <p><b>Create Account</b></p>
      <p><small>Create an account with us and go to your dashboard</small></p>
    </div>
    <div class="grid-col-4 grid-col-md-12 step vastmint-min-vh-30 ">
      <div class="step-container vastmint-white">
        <i class="bi bi-credit-card"></i>
      </div>
      <p><b>Credit Wallet</b></p>
      <p><small>Credit your wallet with ETH and pay mint our affordable mint fee</small></p>

    </div>
    <div class="grid-col-4 grid-col-md-12 step vastmint-min-vh-30 ">
      <div class="step-container vastmint-white">
        <i class="bi bi-upload"></i>
      </div>
      <p><b>Upload NFT and mint</b></p>  
      <p><small>Go to your dashboard, upload picture and list them to our platform and earn </small></p>
    </div>
  </div><br>
  <a href="/accounts/register" class="vastmint-card vastmint-dark-2 vastmint-text-white get-started-btn">Start Earning Now</a>
</section>