<section class="vastmint-min-vh-60 main-container vastmint-create-nft" id="how-it-works">
  <h4 class="heading">How to Get Started</h4>
  <div class="vastmint-grid steps">
    <div class="grid-col-4 grid-col-md-12 step vastmint-min-vh-30 vastmint-white vastmint-card">
      <h3>Create Your Account</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt cumque temporibus repellendus? Labore officia provident est.</p>
      <button class="vastmint-card vastmint-dark vastmint-text-white">Create Account</button>
    </div>
    <div class="grid-col-4 grid-col-md-12 step vastmint-min-vh-30 vastmint-white vastmint-card">
      <h3>Pay Minting Fee</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt cumque temporibus repellendus? Labore officia provident est.</p>
      <button class="vastmint-card vastmint-dark vastmint-text-white">Login and Mint</button>
    </div>
    <div class="grid-col-4 grid-col-md-12 step vastmint-min-vh-30 vastmint-white vastmint-card">
      <h3>Upload NFT for Sales</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt cumque temporibus repellendus? Labore officia provident est.</p>  
      <button class="vastmint-card vastmint-dark vastmint-text-white">Login and List</button>
    </div>
  </div>
</section>