<footer class="vastmint-min-vh-35 vastmint-dark vastmint-text-white">
    <br>
    <div class="el-container vastmint-footer">
        <div class="vastmint-grid">
            <div class="grid-col-4 grid-col-md-6">
                <h3 class="">Artisfymint</h3>
                <p class="footer-desc"></p>
                <div class="social-links">
                    <a href="/#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
            <div class="grid-col-3 grid-col-md-6">
                <h3 class="">Market Place</h3>
                <div class="service-links">
                    <a href="/marketplace">Art</a>
                    <a href="//marketplace">NFTs</a>
                    <a href="/marketplace">All NFTs</a>
                    <a href="/marketplace">Gaming</a>
                   
                </div>
            </div>
            <div class="grid-col-2 grid-col-md-6">
                <h3 class="">My Account</h3>
                <div class="account-links">
                    <a href="/accounts/">Login</a>
                    
                    <a href="/accounts/register">Create Account</a>
                    <a href="/dashboard">Mint</a>
                </div>
            </div>
            <div class="grid-col-3 grid-col-md-6">
                <h3 class="">Company</h3>
                <div class="company-links">
                    <a href="/">Home</a>
                    <a href="/sellers">Sellers</a>
                    <a href="/about">About</a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <% const date= new Date().getFullYear()  %>
            <p><small>©2020 All rights reserved</small></p>
            <div class="links">
                <a href="/privacy-policy"><small>Privacy Policy</small></a>
                <a href="/terms-of-service"><small>Terms Of Service</small></a>
            </div>
        </div>
    </div>
</footer>