<footer class="vastmint-min-vh-35 vastmint-dark vastmint-text-white">
    <br>
    <div class="main-container vastmint-footer">
        <div class="vastmint-grid">
            <div class="grid-col-4 grid-col-md-6">
                <h3 class="">Vastmint</h3>
                <p class="footer-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, voluptates?</p>
                <div class="social-links">
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                    <a href=""><i class="bi bi-gmail"></i></a>
                </div>
            </div>
            <div class="grid-col-3 grid-col-md-6">
                <h3 class="">Market Place</h3>
                <div class="service-links">
                    <a href="">Art</a>
                    <a href="">NFTs</a>
                    <a href="">All NFTs</a>
                    <a href="">Gaming</a>
                   
                </div>
            </div>
            <div class="grid-col-2 grid-col-md-6">
                <h3 class="">My Account</h3>
                <div class="account-links">
                    <a href="">Login</a>
                    
                    <a href="">Create Account</a>
                    <a href="">Mint</a>
                </div>
            </div>
            <div class="grid-col-3 grid-col-md-6">
                <h3 class="">Company</h3>
                <div class="company-links">
                    <a href="">Home</a>
                    <a href="">Sellers</a>
                    <a href="">About</a>
                </div>
            </div>
        </div>
        <div class="copyright">
            <% const date= new Date().getFullYear()  %>
            <p><small>2020 - <%=date %></small></p>
            <div class="links">
                <a href="#"><small>Privacy Policy</small></a>
                <a href="#"><small>Terms Of Service</small></a>
            </div>
        </div>
    </div>
</footer>