<div class="vastmint-hero-container">
    <section class="vastmint-hero main-container">
        <div class="hero-text">
            <h3>Unlock Your Digital Masterpieces: Enter the World of NFT Art</h3>
            <p>
                Discover the NFT Art Wonderland - where creativity meets blockchain. Collect and create unique, tokenized digital masterpieces. Join a vibrant community of artists and collectors. Unleash your imagination and redefine the art world. Welcome to the future of art.
            </p>
            <a href="/dashboard/mint">
                <button class="hero-btn vastmint-primary-400 vastmint-text-white">Start Selling</button>
            </a>
            <a href="/marketplace">
                <button class="hero-btn vastmint-dark vastmint-text-white">Buy NFTs</button>
            </a>
        </div>
        <!-- <div class="active-post">
            <div class="recent-mint vastmint-min-vh-70">
                 <h4 class="vaastmint-text-dark title">Recent Mints</h4>
                <div class="nft vastmint-w-100 vastmint-min-vh-80">
                    <div class="nft-container">
                        <button class="user-profile vastmint-white">
                            <span class="profile-img vastmint-light-300"><bi class="bi-person"></bi></span>
                            <span>@janedoe</span>
                        </button>
                        <div class="nft-img">
                         <img src="/assets/bg1.jpg" alt="">
                        </div>
                        <div class="desc vastmint-text-white">
                            <h3>5.476 ETH</h3>
                            <p>$30,000</p>
                        </div>
                        <div class="actions">
                           <button class="vastmint-dark vastmint-text-white">Get NFT</button>
                           <button class="vastmint-white vastmint-text-dark">View Artwork</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
</div>