<section class="vastmint-hero main-container">
    <div class="hero-text">
        <h3>The modern world of digital and creative artwork</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio nisi vero suscipit similique aliquid incidunt saepe, rerum maxime! Culpa, magnam. Perferendis illum modi libero nobis beatae, odio praesentium fuga? Tempora?</p>
        <button class="hero-btn vastmint-dark vastmint-text-white">Mint NFT</button>
    </div>
    <div class="active-post">
        <div class="recent-mint vastmint-min-vh-70">
             <h4 class="vaastmint-text-dark title">Recent Mints</h4>
            <div class="nft vastmint-w-100 vastmint-min-vh-80">
                <div class="nft-container">
                    <button class="user-profile vastmint-white">
                        <span class="profile-img vastmint-light-300"><bi class="bi-person"></bi></span>
                        <span>@janedoe</span>
                    </button>
                    <div class="nft-img">
                     <img src="/assets/bg1.jpg" alt="">
                    </div>
                    <div class="desc vastmint-text-white">
                        <h3>5.476 ETH</h3>
                        <p>$30,000</p>
                    </div>
                    <div class="actions">
                       <button class="vastmint-dark vastmint-text-white">Get NFT</button>
                       <button class="vastmint-white vastmint-text-dark">View Artwork</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>