<div class="vastmint-hero-container">
    <section class="vastmint-hero main-container">
        <div class="hero-text">
            <h3>The modern world of digital and creative artwork</h3>
            <p>
                Welcome to our NFT store, where unique digital art and collectibles await. Discover one-of-a-kind NFTs by talented artists from around the world. Own a piece of digital history and be a hero of the NFT world. Start exploring our collection now!
            </p>
            <a href="/dashboard/mint">
                <button class="hero-btn vastmint-primary-400 vastmint-text-white">Mint NFT</button>
            </a>
            <a href="/marketplace">
                <button class="hero-btn vastmint-dark vastmint-text-white">Shop</button>
            </a>
        </div>
        <!-- <div class="active-post">
            <div class="recent-mint vastmint-min-vh-70">
                 <h4 class="vaastmint-text-dark title">Recent Mints</h4>
                <div class="nft vastmint-w-100 vastmint-min-vh-80">
                    <div class="nft-container">
                        <button class="user-profile vastmint-white">
                            <span class="profile-img vastmint-light-300"><bi class="bi-person"></bi></span>
                            <span>@janedoe</span>
                        </button>
                        <div class="nft-img">
                         <img src="/assets/bg1.jpg" alt="">
                        </div>
                        <div class="desc vastmint-text-white">
                            <h3>5.476 ETH</h3>
                            <p>$30,000</p>
                        </div>
                        <div class="actions">
                           <button class="vastmint-dark vastmint-text-white">Get NFT</button>
                           <button class="vastmint-white vastmint-text-dark">View Artwork</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </section>
</div>