<section class="vastmint-home-marketplace main-container vastmint-min-vh-100">
    <br>
   <p class="title">Trending NFT</p>
   <br>
   <div class="vastmint-grid">
      <% for( let nft of response.nfts.slice(0,12) ) { %>
        <div class="nft vastmint-white grid-col-4 grid-col-md-6 grid-col-xs-12 vastmint-card">
          <p class="author vastmint-white vastmint-text-dark vastmint-card">
            <small style="font-size: 12px;">@<%= nft.seller %></small>
          </p>
            <div class="nft-img">
              <img src="<%= nft.nft_img %>" alt="nft image">
            </div>
            <div class="nft-desc">
               <p><b><%= nft.name %></b></p>
               <p style="font-size: 12px;"><small>Current Price <b><%= nft.current_price %>ETH</b></small></p>
              </div>
        </div>
      <% } %>     
   </div>
</section>