<!DOCTYPE html>
<html>
<head>

<%- include("./partials/head.ejs") %>
</head>
<body>
    <main>
        <%- include("./partials/home/nav.ejs") %>
         <div class="vastmint-dark el-container" style="padding:3em;margin:3em auto;">
            <h3 style="text-align: center;font-size:24px">About Us</h3>
            <p style="color: lightgray;margin-block:2em;">
                Welcome to our NFT website! We are a passionate team of blockchain enthusiasts who are dedicated to exploring the exciting world of non-fungible tokens (NFTs).

                Our company was founded on the belief that NFTs are the future of digital ownership and representation. We are committed to educating people about the power of NFTs and providing a platform for creators to showcase their work and connect with buyers from all around the world.
                
                Our team is made up of experts in the fields of blockchain technology, digital art, and online marketplaces. We are constantly exploring new ways to innovate and improve the NFT experience for both creators and buyers.
                
                At our core, we believe that NFTs have the potential to revolutionize the art and entertainment industries, and we are committed to being at the forefront of this exciting movement. We believe in providing a safe and secure platform for buying and selling NFTs, and we are dedicated to helping our community thrive.
                
                Thank you for visiting our NFT website. We look forward to helping you discover the amazing world of NFTs and supporting you on your journey as a creator or collector.                
                Regenerate response
            </p>
         </div>
        <%- include("./partials/home/footer.ejs") %>
    </main>
    <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/27175784.js"></script>
  <!-- End of HubSpot Embed Code -->
</body>
</html>