<!DOCTYPE html>
<html>
<head>
<%- include("./partials/head.ejs") %>
</head>
<body>
    <main>
        <%- include("./partials/home/nav.ejs") %>
         <section class="vastmint-min-h-40 main-container">
             <form action="" method="post" class="vastmint-login-form vastmint-white vastmint-min-h-35 vastmint-max-w-35 vastmint-card" style="margin:1em auto">
                <h3 class="vastmint-text-dark">Login</h3>
                <div class="form-field">
                    <label for="">Username</label>
                    <input type="text" placeholder="">
                </div>
                <div class="form-field">
                    <label for="">Password</label>
                    <div class="password-input">
                        <input type="password" placeholder="">
                        <button type="button"><i class="bi bi-eye-slash"></i></button>
                    </div>
                </div>
                 <a href="#" class="forgot-password">Forgot Password?</a>
                <button class="login-button vastmint-dark vastmint-text-white">Login</button>
                <button class="login-button register">Create an Account</button>
             </form>
         </section>
        <%- include("./partials/home/footer.ejs") %>
    </main>
    
</body>
</html>