<!DOCTYPE html>
<html>
<head>
<%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include('./partials/marketplace/sidebar.ejs') %>
    <main>
      <section class="vastmint-marketplace-page">
        <%- include('./partials/marketplace/header.ejs') %>
        <section class="marketplace-main">
            <%- include('./partials/marketplace/nfts.ejs') %>
        </section>
      </section>
    </main>
    
</body>
</html>