<!DOCTYPE html>
<html>
<head>
<%- include("./partials/head.ejs") %>
</head>
<body>
    <main>
        <%- include("./partials/home/nav.ejs") %>
        <section class="vastmint-min-h-40 main-container">
            <form action="" method="post" class="vastmint-login-form vastmint-white vastmint-min-h-35 vastmint-max-w-35 vastmint-card" style="margin:1em auto">
               <h3 class="vastmint-text-dark">Register</h3>
               <div class="form-field">
                   <label for="">FullName</label>
                   <input type="text" placeholder="">
               </div>
                <div class="form-field">
                   <label for="">Username</label>
                   <input type="text" placeholder="">
               </div> 
               <div class="form-field">
                   <label for="">Email</label>
                   <input type="text" placeholder="">
               </div>
               <div class="form-field">
                   <label for="">Password</label>
                   <div class="password-input">
                       <input type="password" placeholder="">
                       <button type="button"><i class="bi bi-eye-slash"></i></button>
                   </div>
               </div>
               <div class="form-field">
                   <label for="">Confirm Password</label>
                   <div class="password-input">
                       <input type="password" placeholder="">
                       <button type="button"><i class="bi bi-eye-slash"></i></button>
                   </div>
               </div>
               <button class="login-button vastmint-dark vastmint-text-white">Submit</button>
               <p class="terms-text">By signing up you agree to our <a href="#"><b>Terms and Condition</b></a></p>
            </form>
        </section>
        <%- include("./partials/home/footer.ejs") %>
    </main>
    
</body>
</html>