<!DOCTYPE html>
<html>
<head>
<%- include("./partials/head.ejs") %>
<style>
  .whatsapp-container{
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 80px;
display:flex;
width: 50px;
height: 50px;
background-color: #25d366;
color: #fff;
z-index: 10;
} 
.whatsapp-container button{
height: 50px;
width: 50px;
border-radius: 50%;
border: none;
background-color: #25d366;
color: #fff;
}
    .section{
        margin-block: 1em;
    }
    .text-center{
        text-align: center;
    }
    .section h3{
        font-size: 20px;
    }
    .section p{
        font-size: 16px;
        color: lightgrey;
    }
</style>
</head>
<body>
  <%- include('./partials/whatsappChat.ejs') %>
    <main>
        <%- include("./partials/home/nav.ejs") %>
        <section class="vastmint-dark el-container" style="padding:3em;margin:3em auto;">
            <h3 style="text-align: center;font-size:24px">Our Terms of Service</h3>
            <p class="text-center" style="margin:1em auto;font-size:14px;color:lightgrey">
              Welcome to Artsea, an online marketplace where you can buy and sell unique digital assets known as non-fungible tokens (“NFTs”). By using our website and/or services, you agree to be bound by these terms of service (“Terms of Service”). Please read these Terms of Service carefully before using our Website or services.
            </p>  
             <br>
            <div class="section">
                <h3>Account Registration</h3>
                <p>
                 In order to buy or sell NFTs on our Website, you must create an account. When you register for an account, you agree to provide accurate and complete information about yourself. You are responsible for maintaining the confidentiality of your account information, including your password. You agree to notify us immediately of any unauthorized use of your account or password.    
                </p>
            </div>

           <div class="section">
            <h3>Buying NFTs</h3>
            <p>When you buy an NFT on our Website, you agree to pay the price listed for that NFT. We will facilitate the transfer of the NFT to your digital wallet upon confirmation of payment. Once the NFT is transferred to your digital wallet, you own the NFT and are responsible for its storage and management.</p>
           </div>

           <div class="section">
             <h3>Selling NFTs</h3>
             <p>When you sell an NFT on our Website, you agree to transfer ownership of the NFT to the buyer upon confirmation of payment. You are responsible for ensuring that the NFT is accurately described and for delivering the NFT to the buyer in a timely manner.</p>
           </div>

           <div class="section">
             <h3>NFT Descriptions</h3>
             <p>Sellers are responsible for providing accurate and complete descriptions of their NFTs. We reserve the right to remove any NFT listings that violate our policies or are misleading or inaccurate.</p>
           </div>

          <div class="section">
            <h3>Intellectual Property</h3>
            <p>Sellers represent and warrant that they have the right to sell the NFTs they list on our Website and that the sale of such NFTs does not violate any third-party intellectual property rights. Buyers agree not to use the NFTs purchased on our Website for any infringing or illegal purposes.</p>
          </div>

          <div class="section">
            <h3>Prohibited Conduct</h3>
            <p>You agree not to use our Website or services for any illegal or unauthorized purpose. You also agree not to engage in any conduct that interferes with the operation of our Website or services or that is harmful to us, our users, or any third party.</p>
          </div>

           <div class="section">
            <h3>Disclaimer of Warranties</h3>
            <p>OUR WEBSITE AND SERVICES ARE PROVIDED “AS IS” AND WITHOUT WARRANTY OF ANY KIND. WE MAKE NO REPRESENTATION OR WARRANTY, EXPRESS OR IMPLIED, AS TO THE OPERATION OF OUR WEBSITE OR SERVICES OR THE INFORMATION, CONTENT, MATERIALS, OR PRODUCTS INCLUDED ON OUR WEBSITE. TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, WE DISCLAIM ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.</p>
           </div>

           <div class="section">
            <h3>Limitation of Liability</h3>
            <p>IN NO EVENT SHALL WE BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE USE OF OUR WEBSITE OR SERVICES, INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, LOSS OF DATA, OR BUSINESS INTERRUPTION.</p>    
          </div>

           <div class="section">
            <h3>Indemnification</h3>
            <p>You agree to indemnify and hold us harmless from any claim or demand, including reasonable attorneys’ fees, made by any third party due to or arising out of your use of our Website or services, your violation of these Terms of Service, or your violation of any law or third-party right.</p>
          </div>

           <div class="section">
            <h3>Modifications</h3>
            <p>We reserve the right to modify these Terms of Service at any time, without notice. Your continued use of our Website or services after any such modifications constitutes your acceptance of the modified Terms of Service.</p>
          </div>

           <div class="section">
            <h3>Governing Law</h3>
            <p>These Terms of Service and your use of our Website or services shall be governed by and construed in accordance with the laws of [Jurisdiction]. </p>
          </div>
          
        </section>
        <%- include("./partials/home/footer.ejs") %>
    </main>
</body>
</html>
