html, body {
  background-image: url("/assets/nft-3.jpg");
  min-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: none;
}

.vastmint-login {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  min-height: 100vh;
}
.vastmint-login .brand {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 2em;
  display: block;
}
.vastmint-login .white-section {
  padding: 1em;
}
.vastmint-login .login-form {
  width: 37%;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  padding: 1em;
}
@media screen and (max-width: 990px) {
  .vastmint-login {
    display: block;
  }
  .vastmint-login .picture-section {
    display: none;
  }
  .vastmint-login .login-form {
    min-height: 60vh;
    width: 65%;
  }
}
@media screen and (max-width: 600px) {
  .vastmint-login .login-form {
    width: 85%;
  }
}
@media screen and (max-width: 480px) {
  .vastmint-login .login-form {
    width: 95%;
  }
}