<div class="collection-banner vastmint-min-h-25 vastmint-grid vastmint-white">
  <div class="grid-col-6 grid-col-md-12">
     <img src="/assets/nft-<%= collection_id %>.jpg" alt="">
  </div>
  <div class="grid-col-6 grid-col-md-12 collection-details">
    <div>
        <h3 class="title">Collection <%= collection_id %></h3>    
        <p class="vastmint-text-light-500">@janedoe</p><br>
    </div>
    <div>
        <p><b>7</b> ArtWorks</p><br>
        <a class="button vastmint-dark vastmint-text-white">See Artist</a>
    </div>
  </div>
</div>