<div class="collection-artworks">
    <h3 class="title">Artworks</h3>
    <div class="vastmint-grid">
    <% for( nft of response.collection.nfts ) { %>
      
            <a href="/marketplace/<%=nft.nft_id  %>" class="nft vastmint-white grid-col-4 grid-col-md-6 grid-col-xs-12 vastmint-card vastmint-min-h-15">
              <div class="nft-img">
                 <img src="<%= nft.nft_img %>" alt="nft image">
              </div>
              <div class="nft-desc">
                 <div class="title-details">
                     <h3><%= nft.name %></h3>
                 </div>
                 <div class="price-details">
                     <p class="vastmint-text-white"><b><%= parseFloat(nft.current_price ).toFixed(3) %>ETH</b></p>
                     <!-- <p class="vastmint-text-dark"><b>50 SOL</b></p> -->
                 </div>
              </div>
            </a>
    <% } %>
  </div>
</div>