<style>
    .item-activity{
        border-radius: 10px;
        padding: 1em;
    }
    .item-activity .title{
     padding-block: 0.6em;
     border-bottom: 1px solid lightgrey;
    }
    table {
     width: 100%;
    }
    .table{
      max-width: 100%;
      overflow-y: auto;
    }
    table th{
      text-align: left;
    }
</style>

<section class="item-activity vastmint-white">
  <p class="title">Item Purchase Activity</p>
  <br>
  <div class="table">
    <table>
      <tr>
        <th>Price</th>
        <th>From</th>
        <th>To</th>
        <th>Date</th>
      </tr>
      <% const date = new Date().toISOString() %>
      <tr>
        <td>2.3ETH</td>
        <td>Jane Doe</td> 
        <td>John Doe</td>
        <td><%=  date.slice(0,date.indexOf("T"))  %></td>
      </tr>
      <tr>
        <td>Maria Anders</td>
        <td>Germany</td> 
        <td>Maria Anders</td>
        <td>Germany</td>
      </tr>
    </table>
  </div>
</section>