<div class="vastmint-marketplace">
    <p class="title">Related NFTs</p>
    <div class="vastmint-grid">
      <% for( let index = 0; index < 4; index++ ) { %>
        <a href="/marketplace/<%= index+1 %>" class="nft vastmint-white grid-col-3 grid-col-md-6 grid-col-xs-12 vastmint-card vastmint-min-vh-45">
            <div class="nft-img">
               <img src="/assets/nft-<%= index+1 %>.jpg" alt="nft image">
            </div>
            <div class="nft-desc">
               <div class="title-details">
                   <h3>Golden Spiral</h3>
                   <button><i class="bi bi-three-dots"></i></button>
               </div>
               <p class="author vastmint-text-light-600">@janedoe</p>
               <div class="price-details">
                   <p class="vastmint-text-dark"><b><%= Math.floor(Math.random * 2) + 1 %> ETH</b></p>
                   <!-- <p class="vastmint-text-dark"><b>50 SOL</b></p> -->
               </div>
            </div>
          </a>
          
      <% } %>       
    </div>
</div>