
    <div class="tabbar  hide-sm">
        <a href="/sellers" class="sidebar-links <%= page==="artists"?"vastmint-primary-400 vastmint-text-white":"" %>  vastmint-hover-primary-400 vastmint-hover-text-white">
            <i class="bi bi-person-fill"></i>
            <span >Sellers</span>
        </a> 
        <a href="/collections" class="sidebar-links <%= page==="collections"?"vastmint-primary-400 vastmint-text-white":"" %>  vastmint-hover-primary-400 vastmint-hover-text-white ">
            <i class="bi bi-collection"></i>
            <span >Collections</span>
        </a> 
        <a href="/marketplace" class="sidebar-links <%= page==="marketplace"?"vastmint-primary-400 vastmint-text-white":"" %> vastmint-hover-primary-400 vastmint-hover-text-white">
            <i class="bi bi-brush-fill"></i>
            <span >NFTs</span>
        </a> 
    </div>
