<div class="vastmint-collections">
    <h3>Collections (<%= response.seller.collections.length %>)</h3>
    <br>
      <% if (response.seller.collections.length > 0) { %>
         <div class="vastmint-grid">
         <% for( collection of response.seller.collections ) { %>
            <a href="/collections/<%= collection.collection_id %>" class="collection vastmint-white grid-col-6 grid-col-md-6 grid-col-xs-12 vastmint-card">
                <img src="<%= collection.banner_img %>" alt="nft image">
             <div class="collection-desc">
               
                <div class="price-details">
                  <div class="title-details">
                      <h3><%= collection.name %></h3>
                   </div>
                   <div>
                     <!-- <p class="author">@janedoe</p> -->
                   </div>
                </div>
             </div>
           </a>
           <% } %>
         </div>
      <% } else { %>
         <div class="" style="text-align:center">
            <img src="/assets/nodata.svg" alt="page-not-found" style="max-width:380px;margin-bottom:0.5em;object-fit:contain">
            <h3 style="font-size: 22px;">Nothing Here</h3>
            <p>This seller does not have any collection</p><br>
         </div>
      <% } %>
</div>