<div class="vastmint-collections">
    <h3>Collections (4)</h3>
    <br>
    <div class="vastmint-grid">
       <% for( let index = 0; index < 4; index++ ) { %>
        <a href="/collections/<%= index +1 %>" class="collection vastmint-white grid-col-6 grid-col-md-6 grid-col-xs-12 vastmint-card">
            <img src="/assets/nft-<%= index + 1 %>.jpg" alt="nft image">
         <div class="collection-desc">
           
            <div class="price-details">
              <div class="title-details">
                  <h3>NFT collection <%= index+1 %></h3>
               </div>
               <div>
                 <!-- <p class="author">@janedoe</p> -->
                 <p class=""><b><%= Math.floor(Math.random()*100) + 5 %> Art</b></p>
               </div>
            </div>
         </div>
       </a>
       <% } %>
       
    </div>
</div>