<section class="seller-banner-container vastmint-white">
  <div class="seller-banner vastmint-min-h-15 vastmint-grid vastmint-white">
    
  </div>
    <div class="profile-img">
       <img src="/assets/nft-<%= seller_id %>.jpg" alt="">
    </div>
    <div class="seller-desc">
      <div>
          <h3 class="title">Jane Doe</h3>    
          <p class="vastmint-text-light-500">@janedoe</p><br>
      </div>
      <div class="more-desc">
         <p><b>5</b> Collections</p>
         <p><b>40</b> Artworks</p>
      </div>
    </div>
  
</section>